.application {
  .header {
    background-color: purple;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
    h1: {
      font-size: 60px;
    }
  }
}
